body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454545;
  color: white;
  padding: 10px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Stick the navbar to the top of the viewport */
  width: 100%;
  z-index: 100; /* Ensure the navbar is above other elements */
}

/* Styles for the dropdown container */
.dropdown {
  box-shadow: none;
  position: relative;
  display: inline-block; /* Added to make the dropdown appear on the right side */
}

/* Styles for the profile button on the right side of the navbar */
.profile-dropdown {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the button to the right end */
}

.profile-btn {
  background-color: #454545;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Styles for the dropdown content associated with the profile button */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: -10; /* Set a higher z-index to layer it on top of other content */
  top: 100%; /* Position the dropdown content below the profile button */
}

/* Style the profile dropdown items */
.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover for profile dropdown items */
.dropdown-content a:hover {
  background-color: #444444b9;
}

/* Display the profile dropdown content when hovering over the profile button */
.profile-dropdown:hover .dropdown-content {
  display: block;
}

/* Push the profile dropdown to the right */
.dropdown-push-prof {
  display: flex;
  justify-content: flex-end;
}

/* Additional styles for profile name and log */
.profile-name {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 5px;
}

.profile-log {
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin-top: 5px;
}

/* Style for the profile image */
.profile-img {
  max-width: 50px;
}

.section-title{
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: space-between;
}


.form-title{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;

}
/* top bar*/
.topnav {
  height: auto;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.topnav a {
  float: none;
  margin: 5px;
  text-align: right;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #454545;
  color: #fff;
  position: fixed;
  height: 100%;
  transition: width 0.3s;
  padding: 10px; /* Add padding to the sidebar */
  box-sizing: border-box; /* Include padding in the width calculation */
}

/* Add a hover effect to the sidebar */
.sidebar:hover {
  width: 270px;
}

.time:hover {
color:#cb1313;
}

/* Sidebar header styles */
.sidebar-header {
  font-size: small;
  text-align: center;
  margin-bottom: 20px;
}

/* Logo styles */
.sidebar-header img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

/* List item styles */
.sidebar ul li a {
  background-image: linear-gradient(
    to right,
    #cb1313,
    #a33535 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-size: 15px; /* Reduce the font size */
  font-weight: 500;
  line-height: 2.00;
  text-decoration: none;
  color: #fff;
  padding: 5px; /* Reduce the padding */
  text-decoration: none;
}

/* Add space between list items */
.sidebar ul li {
  list-style-type: none;
  margin-bottom: 5px;
}
.sidebar ul li i {
  margin-right: 10px; /* Adjust the margin as per your preference */
}
/* Hover effect on tabs */
.sidebar ul li a:hover {
  background-position: 0;
}

.sidebar ul li.active {
  background-color: #cb1313;
  /* Add other styles for the active item as needed */
}

  

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Adjusted to align the top of the dropdown menu with the parent */
  bottom: 100%; /* Adjusted to move the dropdown menu to the right of the parent */
  background-color: #444;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px; /* Set a minimum width for the dropdown menu */
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
  display: block;
}

.dropdown a {
  list-style-type: circle;
  padding: 20px 20px;
  transition: background 0.3s, color 0.3s;
}
.dropdown li {
  margin: 0;
  margin-left: 0; /* Adjusted to remove the left margin */
  margin-bottom: 10px;
  transition: background 0.3s, color 0.3s;
}

.dropdown a:hover {
  background-color: #ffffff9c;
  color: #000000;
}

/* Optional: Add a smooth transition to the dropdown */
.dropdown-menu {
  opacity: 0;
  transform: translateX(10px); /* Adjusted to move the dropdown to the right initially */
  transition: opacity 0.3s, transform 0.3s;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateX(0); /* Adjusted to reset the transform to the right value */
}

hr.separator {
  border: 5px solid rgb(72, 72, 72);
  border-radius: 5px;
}

/* Define the content styles */
.content {
  margin-top: 60px; /* Adjust to the height of your navbar */
  margin-left: 300px; /* Adjust for the sidebar width */
  padding: 20px;
  position: relative;
  width: 80%;
  height: 70vh;
}

/* Style links in the sidebar */
.sidebar a {
  border: #000000;
  font-size: large;
  color: #ffffff;
  margin-bottom: 20px;
  text-decoration: none;
}

/* Add CSS to hide sidebar in mobile view */
.sidebar-toggle {
    display: block; /* Show the button by default */
}

/* Tab content styles */
.tab-content {
 
    padding: 20px;

  display: none;
}

/* Make the active tab content visible */
.tab-content.active {
  display: block;
}

/* Search form styles */
#searchForm {
  margin-top: 20px;
}

/* Complaint Tab*/
#searchInput {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add margin to the right for spacing */
}

 /* Style the search bar button with a green color */
 #searchForm button[type="submit"] {
  background-color:#1da333;;
  color: white;
}

/* Style the "Delete All Report" button with a red color */
.delete_all_report {
  background-color: #c51b1b;
  color: white;
}
.delete_all_report :hover {
  background-color: #6f0d0d;
  color: white;
}

/* Adjust the spacing between the buttons and the table */
/* Select department styles */
#department1 {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Action button styles */
.view-report-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Change status button and select styles */
#statusChangeForm {
  display: flex;
 
  margin: 5px 0;
}

#new_status_select {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#statusChangeForm > form > button {
  background-color:rgb(223, 190, 24); /* Red button background color */
}

 /* Style for the modal container */
 .modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Style for the modal content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  width: 60%;
  max-height: 80vh; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add overflow-y property to enable vertical scrolling */
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content-button{
  float: left;
}

/* Style for the close button */
.close {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

#report {
  padding-top:20px;
  margin-top:20px;
  padding-left:15px;
  padding-right:15px;
  vertical-align: top;
  font-size: 16px; 
  width: 98%;
  height: 70%;
  resize: none;
}

form textarea {
  /* Set other textarea styles as needed */
  width: 100%;
  resize: none; /* Optional: Disable textarea resizing */
  /* Additional styles... */
}

/* Select label style */
.select-label {
  font-weight: bold;
  font-size: 16px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-row1 {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.form-element {
  flex: 1;
  margin: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Form label style */
.form-label {
  font-weight: bold;
  font-size: 14px;
}

/* Form input style */
.form-input {
  width:300px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}

.form-input1 {
  width:300px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}

/* Form textarea style */
.form-textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  resize: none;
  margin: 5px 0;
}

/* Form button style */
.form-button {
  background-color:#19c642;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 14px;
}

.form-button:hover {
  background-color:#159533;
}

.headtable{
  
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.rep-table{
  
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
 
}

/* Define styles for table headers (th) */
 table th,td {  
  
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table thead {
 
  background-color: #e0e0e0;
}

table th {
  background-color: #454545;
  color:white;
    font-weight: bold;
}


table tbody tbody tr:nth-child(odd){
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e0e0e0;
}

/* Style the buttons inside the table */
table .view-report-button {
  background-color: #1da333;
  margin-left: 10px;
  font-size: smaller;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table .view-report-button:hover {
  background-color: #1b6e29;
}

/* Style the select and change button in the status column */
table select {
  width: 110px !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

table select:focus {
  outline: none;
}

table form button[type="submit"] {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/* Style the submit button for changing status */
table form button[type="submit"].status-button {
  background-color:  #1da333;
  color: #fff;
}

table form button[type="submit"].status-button:hover {
  background-color: #1b6e29;
}

/* Style the submit button for deleting */
table form button[type="submit"].delete-button {
 margin: 3px 3px 3px 3px ;
  background-color: #ed1919;
  color: #fff;
}

table form button[type="submit"].delete-button:hover {
  background-color: #962020;
}

/* Fix the table header at the top while scrolling */
table thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}

.view-report-button {
  float: right;
  margin-right: 10px;
}

#reports-container{
  background-color: white;
  margin:5px;
  padding: 5px;
  border: 1px solid #000000;
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.report-separator {
  border-top: 1px solid #ccc; /* Style the separator as a horizontal line */
  margin-bottom: 20px; /* Add margin to create spacing between reports */
}

.report {
  background-color: #f7f7f7; /* Background color for the report container */
  border: 1px solid #e0e0e0; /* Add a subtle border */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin: 0 auto;
  margin-block: 10px;
  width: 70%;
}

#file {
  margin-top:20px;
}

#form{
  font-size: 14px;
}

#support{
  font-size: 14px;
}

.notifications {
  display: none; /* Initially hidden */
  position: absolute;
  top: 50px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensure it appears above other elements */
  width: 15%;
  height: 30%;
}

.status-change-confirmation {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Ensure it's above other content */
}

.flash-messages {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center using translate */
  z-index: 1000;
}

.flash-message {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  text-align: center; /* Center text inside the message */
}

.success {
  background-color: #4CAF50;
  color: white;
}

.error {
  background-color: #f44336;
  color: white;
}

.navbar1 {
  width: 800px;
  height: 100px; /* Adjust the height as needed */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  width: 90px;
  height: 100px; /* Adjust the height to match .navbar1 */
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.nav-item1 {
  width: 90px;
  height: 100px; /* Adjust the height to match .navbar1 */
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.nav-item1 a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#char-count {
  position: absolute;
  bottom: 12px; /* Adjust the distance from the bottom as needed */
  right: 5px; /* Adjust the distance from the right as needed */
  font-size: 12px; /* Adjust the font size as needed */
  color: #999; /* Adjust the color as needed */
}

#char-count1 {
  position: absolute;
  bottom: 12px; /* Adjust the distance from the bottom as needed */
  right: 5px; /* Adjust the distance from the right as needed */
  font-size: 12px; /* Adjust the font size as needed */
  color: #999; /* Adjust the color as needed */
}

#char-count2 {
  position: absolute;
  bottom: 12px; /* Adjust the distance from the bottom as needed */
  right: 5px; /* Adjust the distance from the right as needed */
  font-size: 12px; /* Adjust the font size as needed */
  color: #999; /* Adjust the color as needed */
}

#char-count3 {
  position: absolute;
  bottom: 12px; /* Adjust the distance from the bottom as needed */
  right: 5px; /* Adjust the distance from the right as needed */
  font-size: 12px; /* Adjust the font size as needed */
  color: #999; /* Adjust the color as needed */
}

#char-count4 {
  position: absolute;
  bottom: 12px; /* Adjust the distance from the bottom as needed */
  right: 5px; /* Adjust the distance from the right as needed */
  font-size: 12px; /* Adjust the font size as needed */
  color: #999; /* Adjust the color as needed */
}

 /* Style for the modal container */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Style for the modal content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  width: 60%;
  max-height: 80vh; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add overflow-y property to enable vertical scrolling */
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#closeModal {
    margin-top: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
}

/* CSS for the close button */
.close-button {
  position: absolute;
  top: 10px; /* Adjust as needed to position it vertically */
  left: 10px; /* Adjust as needed to position it horizontally */
  color: hsl(0, 0%, 99%);
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
}

#loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  text-align: center;
}

.loading-spinner {
  position: relative;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.loading-text {
  position: relative;
  top: 48%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sanction-content {
  padding: 20px;
  height: 60%;
  overflow-y: auto; /* Add overflow-y property to enable vertical scrolling */
  margin-bottom: 20px; 
}

/* Styles for the student info container */
.student-info {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.student-info p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.student-info span {
  font-weight: bold;
  color: #030303;
}

.written-content {
  padding: 20px;
  height: 60%;
  margin-bottom: 20px; 
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#loadingScreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

#loadingText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
} 

.numberofall {
  align-content: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:500px;
  height:500px;
} 

.call{
  font-size: 14px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.editable {
  background-color: white; /* Set the background color for editable fields */
}

.call_id{
  font-size: 14px;
}

.report_small{
  font-size: 14px;
}

.pic_coord{
  width: 200px;
  height:150px;
}

.captcha-container {
  margin: auto;
  padding-top:20px;
  padding-bottom:20px;
  width: 60%;
}

.coordinator-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.coordinator-table th, .coordinator-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.coordinator-table th {
  background-color: #f2f2f2;
  color: #000000;
  font-weight: bold;
}
.coordinator-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Profile Picture style */
.pic-coord {
  width: 40px; /* Make the profile picture smaller */
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #770a0a;
}

.edit-button, .change-button, .profile-pic-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.edit-button {
  background-color: #1c8917;
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.edit-button:hover, .change-button:hover, .profile-pic-button:hover {
  background-color: #0056b3;
}


.change-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Profile Pic Button style */


.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  color: #000000;
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


/* Profile Picture style */
.pic-coord {
  margin-left: 5px;
  width: 40px; /* Reduce the width for the profile picture */
  height: 40px; /* Reduce the height for the profile picture */
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #770a0a;
}




.change-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Profile Pic Button style */


.sidebar a.logout {
  margin-top: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: medium;
  float:left;
}

/* Styles for the tabs and content */
.modern-sleek-tab-content {
  
  margin-top: 10px;
  display: none;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.modern-sleek-navbar-container {
  
  margin-top: 20px;
 
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px 0;
 
}

.modern-sleek-navbar {
  display: flex;
  
  margin: 0 auto; /* Center the container itself on the screen */
}

.modern-sleek-nav-item {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  padding-inline: 50px;
  cursor: pointer;
  transition: color 0.3s;
}

.modern-sleek-nav-item:hover {
  color: #878787;
}

.del-btn{
  border-radius: 5px;
  background-color:  #c51b1b;
  color: #fff;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  
  margin-top:20px ;
  display: flex; /* Use flexbox to create a row layout */
  align-items: center; /* Center vertically within the container */
  gap: 10px; /* Add space between buttons and input */
}

/* Styles for buttons */
button {
  border-radius: 5px;
  background-color: #1da333;
  color: #fff;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.del-btn:hover {
  background-color: #6f0d0d;
}

button:hover {
  background-color: #1b6e29;
}

/* Additional button styles for your specific buttons */
.modern-sleek-view-report-button {
  margin-bottom: 10px;
  background-color: #1da333;
}

.modern-sleek-view-report-button:hover {
  background-color: #1b6e29;
}

/* Form select styles */
select {
  padding: 10px;
}

/* Additional styles for the result tab buttons */
#krazyid, #idkrazy {
  background-color:  #1da333;
  margin-right: 10px;
}

#krazyid:hover, #idkrazy:hover {
  background-color: #1b6e29;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

/* Label styles */
label {
  display: block;
  font-weight: 900;
  margin-top: 10px;
}



/* Button styles */
input[type="submit"] {
  background-color: #1da333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.text-table {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  font-size: 14px;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;

}

/* Checkbox label styles */
input[type="checkbox"] + label {
  display: block;
  font-weight: normal;
  margin-top: 5px;
}

/* Dashboard Section Styles */
.dashboard-section {
  display: flex;
  justify-content: space-between;
}

/* Complaints and Document Request Section Styles */
.complaints-section, .document-request-section {
  background-color: transparent;
  width: 48%;
}

/* List Styles */
ul {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Item Styles */
li {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #ffffff;
}

.dashbtn:hover {
  background-color: rgb(37, 173, 28);
}

/* Icon Styles */
.complaint-icon, .document-icon {
  margin-right: 10px;
  width: 40px;
  flex-shrink: 0; /* Prevent the icon from growing */
}

.complaint-icon img, .document-icon img {
  max-width: 100%;
  height: auto;
}

/* Details Styles */
.complaint-details, .document-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-size: 16px;
}

/* Styles for the custom select dropdown */
.custom-select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.custom-select {
  /* Style the select element here */
  /* Example styles (adjust as needed) */
  border: 1px solid #ccc;
  padding: 5px;
  width: 20%;
}

.select-container {
  position: relative;
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666; /* Change the color as needed */
  font-size: 16px;
}
\select {
  width: 40%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#departmentx,
#searchInput1,
#searchInput2,
#searchInput3,
#searchInput4 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* Style the search button */
#searchButton1,
#searchButton2,
#searchButton3,
#searchButton4 {
    background-color: #208c0d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#searchButton1:hover,
#searchButton2:hover,
#searchButton3:hover,
#searchButton4:hover {
    background-color: #0056b3;
}
/* Additional styles as needed */
/* Style for the button */
.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Style for the icon */
.icon-button i {
  font-size: 20px; /* Adjust the size as needed */
  color: #1b9a22; /* Change the color to your preferred color */
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: rgb(255, 255, 255);
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.modal-password-content {
  background-color: #fefefe;
  padding: 35px;
  max-height: 80vh; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add overflow-y property to enable vertical scrolling */
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tt {
  font-size:16px;
  
  
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top:20px;
}

.pagination li {
  margin: 10px 5px; /* Adjust the margin as needed */
}

.pagination li a {
  text-decoration: none;
  color: black; /* Change the color as needed */
  padding: 5px 10px; /* Adjust the padding as needed */
  border: 1px solid #ccc; /* Add borders for styling */
  border-radius: 5px; /* Add rounded corners */
}

.pagination li.active a {
  background-color: #007bff; /* Change the background color for the active page */
  color: white; /* Change the text color for the active page */
}
