<!DOCTYPE html>
<html>
    <link rel="stylesheet" href='/static/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
<head>
    <title>Offense Tags</title>
</head>
<body>
    <div id="notifications-container" class="notifications">
        
    </div>
    <div class="topnav">
        <a href="/hello" >Home</a>
        {% if user_source == 'accounts_cics'%}
        <a href="/menu">My Reports</a>
    {% endif %}

    <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
    {% if user_source == 'accounts_coordinators' %}
    <a href="/menu">Reports</a>
    {% endif %}
        <a class="active" href="#contact">Forms</a>
        <a class="logout" href="/logout">Logout</a>
        <a class="notif" href="#" id="notifications-bar" >Notifications</a>
      </div>

      <div id="reports-container">
        {% if user_source == 'accounts_cics' %}
        {% for row in reports %}
        <div class="report">
            <b>Date and Time:</b> {{ row[2] }}<br>
            <b>Department:</b> {{ row[4] }}<br>   
            <b>Status:</b> {{ row[5] }}<br>
            <button class="view-report-button" onclick="openModal('{{ row[3] }}')">View Report</button>
            {% if row[5] %}
            <b>Attached Form:</b>
            <br>
            <a id="form"href="{{ url_for('download_report_file', report_id=row[0]) }}" target="_blank">{{ row[7] }}</a>
            {% endif %}
            {% if row[7] %}
            <br>
            <b>Attached Supporting Document:</b>
            <br>
            <a id="support"href="{{ url_for('download_supporting_document', report_id=row[0]) }}" target="_blank">{{ row[10] }}</a>
            {% endif %}
        </div>
        <hr class="report-separator">
        {% endfor %}
        {% endif %}
    </div>

    <!-- The Modal -->
    <div class="modal" id="reportModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="reportContent"></div>
        </div>
    </div>


</body>
</html>
