<!DOCTYPE html>
<html>
    <link rel="stylesheet" href='/static/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
<head>
    <title>Offense Tags</title>
</head>
<body>
    <div id="notifications-container" class="notifications">
        
    </div>
    <div class="topnav">
        <a href="/hello" >Home</a>
        {% if user_source == 'accounts_cics'%}
        <a href="/menu">My Reports</a>
        <a href="/menu">My Request</a>
    {% endif %}

    <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
   
        <a class="active" href="#contact">Forms</a>
        <a class="logout" href="/logout">Logout</a>
        <a class="notif" href="#" id="notifications-bar" >Notifications</a>
      </div>

      {% if user_source == 'accounts_coordinators' %}

      <a href="/menu">Reports</a>
      {% endif %}
      

      <div id="reports-container">
        {% if user_source == 'accounts_cics' %}
        <div class="navbar1">
            <div class="nav-item"><a href="#">Home</a></div>
            <div class="nav-item"><a href="#">About</a></div>
            <div class="nav-item"><a href="#">Services</a></div>
            <div class="nav-item"><a href="#">Contact</a></div>
        </div>
        {% for row in reports %}
    {% if row[5] == 'Status1' %}
        <div class="report">
            <b>Report ID</b> {{ row[0] }}<br>
            <b>Date and Time:</b> {{ row[2] }}<br>
            <button class="view-report-button" onclick="openModal('{{ row[3] }}')">View Report</button>
            <b>Department:</b> {{ row[4] }}<br>   
            <b>Status:</b> {{ row[5] }}<br>
        </div>
        <hr class="report-separator">
    {% endif %}
{% endfor %}
        {% endif %}
    </div>

    <!-- The Modal -->
    <div class="modal" id="reportModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="reportContent"></div>
        </div>
    </div>


</body>
</html>
