<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/static/style.css' />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>


    <title>Offense Tags</title>
</head>
<body>
    <div class="topnav">
        <a class="active">Home</a>
        {% if user_source == 'accounts_cics'%}
        <a href="/menu">My Reports</a>
    {% endif %}

    <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
    {% if user_source == 'accounts_coordinators' %}
    <a href="/menu">Reports</a>
    {% endif %}

        <a href="/forms">Forms</a>
       
        <a class="logout" href="/logout">Logout</a>
        <a class="notif" href="#" id="notifications-bar" >Notifications</a>
    </div>

    <div class="user-profile">
        {% if profile_picture_base64 %}
        <img src="data:image/jpeg;base64,{{ profile_picture_base64 }}" alt="Profile Picture">
        {% else %}
        <img src="/static/default_profile.png" alt="Default Profile Picture">
        {% endif %}
        <div class="user-info">
            <h1>{{ name }}</h1>
            <h2>{{ course }}</h2>
        </div>
    </div>

    <div id="notifications-container" class="notifications">
        
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h3>File Report</h3>
            <form action="/submit_report" method="POST" enctype="multipart/form-data">
                <label for="department">Department:</label> 
                <select name="department" id="department" required> 
                    <option value="CAFAD">CAFAD</option> 
                    <option value="CICS">CICS</option> 
                    <option value="CIT">CIT</option> 
                    <option value="COE">COE</option> 
                </select><br>
                <label for="kind">Kind of Report:</label> 
                <select name="kind" id="kind" required onchange="toggleInputFields()"> 
                    <option value="" selected disabled>Select a Report Type</option>
                    <option value="Formal Complaint">Formal Complaint</option> 
                    <option value="Incident Report">Incident Report</option> 
                </select><br>
                <div id="formContainer" style="display: none;">
                    <label id="provision1" for="provision" >Provision in the Norms of Conduct Violated by the Student/s:</label>
                    <textarea id="provision" name="provision" rows="16" cols="20" ></textarea><br>
                
                    <label id="narrate1" for="narrate" >Brief Narration of Facts and Circumstances:</label>
                    <textarea id="narrate" name="narrate" rows="16" cols="20" ></textarea><br>
                
                    <label id="final1" for="final" >Final Word</label>
                    <textarea id="final" name="final" rows="16" cols="20" ></textarea><br>
                
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name"><br>
                
                    <label for="section">Year And Section</label>
                    <input type="text" id="section" name="section"><br>
                
                    <label for="number">Contact Number:</label>
                    <input type="text" id="number" name="number"><br>
                
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email"><br>
                
                    <label for="witness1">Witness 1:</label>
                    <input type="text" id="witness1" name="witness1"><br>
                
                    <label for="witness2">Witness 2:</label>
                    <input type="text" id="witness2" name="witness2"><br>
                
                    <label for="witness3">Witness 3:</label>
                    <input type="text" id="witness3" name="witness3"><br>
                
                    <label for="evidence1">Evidence 1:</label>
                    <input type="text" id="evidence1" name="evidence1"><br>
                
                    <label for="evidence2">Evidence 2:</label>
                    <input type="text" id="evidence2" name="evidence2"><br>
                
                    <label for="evidence3">Evidence 3:</label>
                    <input type="text" id="evidence3" name="evidence3"><br>
                
                    <label for="file1">Attach Your Signature with Printed Name:</label>
                    <input type="file" name="file2" id="file2">
                
                    <label for="file1">Attach Supporting Documents (if you have any):</label>
                    <input type="file" name="file1" id="file1">
                </div>

                <div id="formContainer1" style="display: none;">
                    
                    <label id="narrate1" for="narrate1" >Incident:</label>
                    <textarea id="narrate1" name="narrate1" rows="16" cols="20" ></textarea><br>

                    <label id="provision1" for="remarks" >Remarks:</label>
                    <textarea id="remarks" name="remarks" rows="16" cols="20" ></textarea><br>
                
                    <label for="name1">Name:</label>
                    <input type="text" id="name1" name="name1"><br>
                
                    <label for="section">Year And Section:</label>
                    <input type="text" id="section1" name="section1"><br>
                
                    <label for="program">Program:</label>
                    <input type="text" id="program" name="program"><br>
                
                    <label for="designation">Designation:</label>
                    <input type="text" id="designation" name="designation"><br>
                
                    <label for="file3">Attach Your Signature with Printed Name:</label>
                    <input type="file" name="file3" id="file3">
                
                    <label for="file4">Attach Supporting Documents (if you have any):</label>
                    <input type="file" name="file4" id="file4">
                </div>
               
                <input id="submit" type="submit" value="Submit">
            </form>
        </div>
    </div>



    <button type="button" id="openModalBtn">File Report</button>

    
    <!-- Conditionally show the "My Sanctions" button based on user source -->
    {% if user_source == 'accounts_cics'%}
    <button type="button" id="openModalBtn1">My Sanctions</button>
    {% endif %}

    {% if user_source == 'accounts_cics'%}
    <button type="button" id="openModalBtn3">Request Form</button>
    {% endif %}

    <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
    {% if user_source == 'accounts_coordinators' %}
    <button type="button" id="openModalBtn2">Tag Sanction</button>
    {% endif %}

<div id="myModal1" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn1">&times;</span>
        <h3>My Sanctions</h3>
        <div id="sanctionsTable"></div>
    </div>
</div>

<div id="myModal3" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn3">&times;</span>
        <h3>Request Form</h3>
        <form action="/submit_request" method="POST" enctype="multipart/form-data">
            <label for="department">Department:</label> 
            <select name="department" id="department"> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br>
            <label for="file">Attach form:</label>
            <input type="file" name="file" id="file"><br>

            <label for="file1">Attach Supporting Documents (if you have any):</label>
            <input type="file" name="file1" id="file1">

            <textarea id="report" name="report" rows="16" cols="50"></textarea>
              
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
</div>

<div id="myModal2" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn2">&times;</span>
        <h3>Tag Sanction</h3>
        <form method="POST" action="/search_students" id="searchForm" required>
            <label for="username">Input Username:</label>
            <input type="text" id="username" name="username">
            <input type="submit" value="Search">
        </form>
        <hr>
        <div id="studentInfo">
            <p>Name: <span id="studentName"></span></p>
            <p>Course: <span id="studentCourse"></span></p>
            <p>Sanctions: <span id="studentSanctions"></span></p>
            
            <form action="/submit_sanction" method="POST">
            <input list="sanctions" id="sanctionsInput" name="sanctions" required>
            <datalist id="sanctions">
                <option value="12.1.1 - attendance, punctuality, cutting classes">12.1.1 - attendance, punctuality, cutting classes</option> 
                <option value="12.1.2 - dress code, uniform">12.1.2 - dress code, uniform</option> 
                <option value="12.1.3 - property misuse">12.1.3 - property misuse</option> 
                <option value="12.1.4 - noise disturbance">12.1.4 - noise disturbance</option>
                <option value="12.1.5 - posting violation">12.1.5 - posting violation</option> 
                <option value="12.1.6 - notice removal">12.1.6 - notice removal</option> 
                <option value="12.1.7 - littering">12.1.7 - littering</option> 
                <option value="12.1.8 - smoking violation">12.1.8 - smoking violation</option>
                <option value="12.1.9 - trespassing">12.1.9 - trespassing</option> 
                <option value="12.1.10 - misconduct">12.1.10 - misconduct</option> 
                <option value="12.1.11 - harassment">12.1.11 - harassment</option> 
                <option value="12.1.12 - provocation, fight">12.1.12 - provocation, fight</option> 
                <option value="12.1.13 - PDA">12.1.13 - PDA</option> 
                <option value="12.1.14 - truancy">12.1.14 - truancy</option> 
                <option value="13.1 - repeat offenses">13.1 - repeat offenses</option> 
                <option value="13.2 - insubordination">13.2 - insubordination</option>
                <option value="13.3 - smoking violation">13.3 - smoking violation</option> 
                <option value="13.4 - alcohol violation">13.4 - alcohol violation</option> 
                <option value="13.5 - intoxication">13.5 - intoxication</option> 
                <option value="13.6 - trespassing">13.6 - trespassing</option>
                <option value="13.7 - property misuse">13.7 - property misuse</option> 
                <option value="13.13 - abusive behavior">13.13 - abusive behavior</option> 
                <option value="13.14 - unauthorized membership">13.14 - unauthorized membership</option> 
                <option value="13.15 - online misconduct">13.15 - online misconduct</option>
                <option value="13.16 - vandalism">13.16 - vandalism</option> 
                <option value="13.17 - academic disruption">13.17 - academic disruption</option> 
                <option value="13.18 - solicitation">13.18 - solicitation</option> 
                <option value="13.19 - physical harm">13.19 - physical harm</option>
                <option value="13.20 - weapons possession">13.20 - weapons possession</option> 
                <option value="13.21 - theft">13.21 - theft</option> 
                <option value="13.22 - bribery">13.22 - bribery</option> 
                <option value="13.23 - sexual misconduct">13.23 - sexual misconduct</option>
                <option value="13.24 - obscenity">13.24 - obscenity</option> 
                <option value="13.25 - defamation">13.25 - defamation</option> 
                <option value="13.26 - physical harm">13.26 - physical harm</option> 
                <option value="13.27 - falsification">13.27 - falsification</option>
                <option value="13.28 - disrepute">13.28 - disrepute</option> 
                <option value="13.29 - riot">13.29 - riot</option> 
                <option value="13.30 - destruction of property">13.30 - destruction of property</option> 
                <option value="13.31 - burglary">13.31 - burglary</option> 
                <option value="13.32 - hazing">13.32 - hazing</option> 
                <option value="13.33 - drugs">13.33 - drugs</option> 
                <option value="13.34 - firearms possession">13.34 - firearms possession</option> 
                <option value="13.35 - threats">13.35 - threats</option> 
                <option value="13.36 - felonies">13.36 - felonies</option> 
                <option value="13.37 - moral turpitude">13.37 - moral turpitude</option> 
                <option value="14.1 - cheating, mobile phone">14.1 - cheating, mobile phone</option> 
                <option value="14.2 - cheating, talking">14.2 - cheating, talking</option> 
                <option value="14.3 - cheating, dictating answers">14.3 - cheating, dictating answers</option> 
                <option value="14.4 - cheating, notes possession">14.4 - cheating, notes possession</option> 
                <option value="14.5 - cheating, outside information">14.5 - cheating, outside information</option> 
                <option value="14.6 - cheating, leakage facilitation">14.6 - cheating, leakage facilitation</option> 
                <option value="14.7 - cheating, buying/selling questions">14.7 - cheating, buying/selling questions</option> 
                <option value="14.8 - cheating, copying answers">14.8 - cheating, copying answers</option> 
                <option value="14.9 - cheating, covert devices">14.9 - cheating, covert devices</option> 
                <option value="14.10 - cheating, impersonation">14.10 - cheating, impersonation</option> 
                <option value="14.11 - plagiarism">14.11 - plagiarism</option> 
                <option value="14.12 - cheating, surrogate attendance">14.12 - cheating, surrogate attendance</option> 
                <option value="14.13 - plagiarism">14.13 - plagiarism</option> 
                <option value="14.14 - cheating, caught">14.14 - cheating, caught</option> 
                <option value="14.15 - cheating, aiding">14.15 - cheating, aiding</option> 

            </datalist><br>
            
            <input id="submit" type="submit" value="Submit">
        </form>
        </div>
    
</div>

<div class="flash-messages" id="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

   
</body>
</html>
