<html>
<head>
    <link rel="stylesheet" href='/static/style.css' />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>


    <title>Offense Tags</title>
</head>
<body>
    <div class="topnav">
        <a class="active">Home</a>
        {% if user_source == 'accounts_cics'%}
        <a href="/menu">My Reports</a>
        <a href="/request">My Request</a>
    {% endif %}

    <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
    {% if user_source == 'accounts_coordinators' %}
    <a href="/menu">Reports</a>
    <a href="/request">Requests</a>
    {% endif %}

       
        <a class="logout" href="/logout">Logout</a>
        <a class="notif" href="#" id="notifications-bar" >Notifications</a>
    </div>

    <div class="user-profile">
        {% if profile_picture_base64 %}
        <img src="data:image/jpeg;base64,{{ profile_picture_base64 }}" alt="Profile Picture">
        {% else %}
        <img src="/static/default_profile.png" alt="Default Profile Picture">
        {% endif %}
        <div class="user-info">
            <h1>{{ name }}</h1>
            <h2>{{ course }}</h2>
        </div>
    </div>

    <div id="notifications-container" class="notifications">
        
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h3>File Report</h3>
                <label for="kind">Kind of Report:</label> 
                <select name="kind" id="kind" required onchange="toggleInputFields()"> 
                    <option value="" selected disabled>Select a Report Type</option>
                    <option value="Formal Complaint">Formal Complaint</option> 
                    <option value="Incident Report">Incident Report</option> 
                </select><br>
                <hr>
                <div id="formContainer" style="display: none;">
                    <form action="/submit_report" method="POST" enctype="multipart/form-data">
                    <label id="provision1" for="provision">Provision in the Norms of Conduct Violated by the Student/s:</label>
                    <div style="position: relative;">
                    <textarea id="provision" name="provision" rows="4" cols="20" maxlength="250" required></textarea>
                    <div id="char-count">250 characters remaining</div>
                    </div>
                
                
                    <label id="narrate1" for="narrate" >Brief Narration of Facts and Circumstances:</label>
                    <div style="position: relative;">
                    <textarea id="narrate" name="narrate" rows="4" cols="20" maxlength="250" required></textarea><br>
                    <div id="char-count1">250 characters remaining</div>
                </div>
                
                    <label id="final1" for="final" >Final Word</label>
                    <div style="position: relative;">
                    <textarea id="final" name="final" rows="4" cols="20" maxlength="250" required></textarea><br>
                    <div id="char-count2">250 characters remaining</div>
                </div>
                <hr>
                <label for="department">Department to Send:</label> 
                <select name="department" id="department" required> 
                    <option value="CAFAD">CAFAD</option> 
                    <option value="CICS">CICS</option> 
                    <option value="CIT">CIT</option> 
                    <option value="COE">COE</option> 
                </select><br>
                
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required><br>
                
                    <label for="section">Year And Section</label>
                    <input type="text" id="section" name="section" required><br>
                
                    <label for="number">Contact Number:</label>
                    <input type="text" id="number" name="number" required><br>
                
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email" required><br>
                    <hr>
                    <p>Leave it blank if N/A</p>
                    <label for="witness1">Witness 1:</label>
                    <input type="text" id="witness1" name="witness1" ><br>
                
                    <label for="witness2">Witness 2:</label>
                    <input type="text" id="witness2" name="witness2"><br>
                
                    <label for="witness3">Witness 3:</label>
                    <input type="text" id="witness3" name="witness3"><br>
                
                    <label for="evidence1">Evidence 1:</label>
                    <input type="text" id="evidence1" name="evidence1"><br>
                
                    <label for="evidence2">Evidence 2:</label>
                    <input type="text" id="evidence2" name="evidence2"><br>
                
                    <label for="evidence3">Evidence 3:</label>
                    <input type="text" id="evidence3" name="evidence3"><br>
                    <hr>
                
                    <label for="file9">Attach Your Signature with Printed Name:</label>
                    <input type="file" name="file9" id="file9" accept=".png, .jpg, .jpeg">
                
                    <label for="file1">Attach Supporting Documents (if you have any):</label>
                    <input type="file" name="file1" id="file1" accept=".png, .jpg, .jpeg, .pdf, .docx">
                    <input type="hidden" name="forms" value="Formal Complaint">
                    <input id="submit" type="submit" value="Submit">
                </div>
                <br>

            </form>

                <div id="formContainer1" style="display: none;">
                    <form action="/submit_report" method="POST" enctype="multipart/form-data">
                    
                    <label id="incident1" for="incident" >Incident:</label>
                    <div style="position: relative;">
                    <textarea id="incident" name="Incident" rows="4" cols="20" maxlength="250" required></textarea><br>
                    <div id="char-count3">250 characters remaining</div>
                </div>
                    <label id="provision1" for="remarks" >Remarks:</label>
                    <div style="position: relative;">
                    <textarea id="remarks" name="remarks" rows="4" cols="20" maxlength="250" required></textarea><br>
                    <div id="char-count4">250 characters remaining</div>
                </div>
                    <hr>

                    <label for="department">Department to Send:</label> 
                    <select name="department" id="department" required> 
                        <option value="CAFAD">CAFAD</option> 
                        <option value="CICS">CICS</option> 
                        <option value="CIT">CIT</option> 
                        <option value="COE">COE</option> 
                    </select><br><br>
                
                    <label for="name1">Name of the Student:</label>
                    <input type="text" id="name1" name="name1"required><br><br>
                
                    <label for="section">Year And Section:</label>
                    <input type="text" id="section1" name="section1"required><br><br>
                
                    <label for="program">Program:</label>
                    <input type="text" id="program" name="program"required><br><br>
                
                    <label for="designation">Designation:</label>
                    <input type="text" id="designation" name="designation"required><br><br>
                    <hr>
                
                    <label for="file3">Attach Your Signature with Printed Name:</label>
                    <input type="file" name="file3" id="file3" accept=".png, .jpg, .jpeg"required>
                
                    <label for="file4">Attach Supporting Documents (if you have any):</label>
                    <input type="file" name="file4" id="file4" accept=".png, .jpg, .jpeg, .pdf, .docx">
                    <input id="submit" type="submit" value="Submit">
                </div>
                <br>
               
              
            </form>
        </div>
    </div>



    <button type="button" id="openModalBtn">File Report</button>

    
    <!-- Conditionally show the "My Sanctions" button based on user source -->
    {% if user_source == 'accounts_cics'%}
    <button type="button" id="openModalBtn1">My Sanctions</button>
    {% endif %}

    {% if user_source == 'accounts_cics'%}
    <button type="button" id="openModalBtn3">Request Form</button>
    {% endif %}

    <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
    {% if user_source == 'accounts_coordinators' %}
    <button type="button" id="openModalBtn2">Tag Sanction</button>
    {% endif %}

<div id="myModal1" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn1">&times;</span>
        <h3>My Sanctions</h3>
        <div id="sanctionsTable"></div>
    </div>
</div>

<div id="myModal3" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn3">&times;</span>
        <h3>Request Form</h3>
       
            

            <label for="forms">Forms:</label> 
            <select name="forms" id="forms" required onchange="toggleInputFields1()"> 
                <option value="" selected disabled>Select Form:</option> 
                <option value="Temporary Gate Pass">Temporary Gate Pass</option> 
                <option value="Request for Non-Wearing of Uniform">Request for Non-Wearing of Uniform</option> 
                <option value="Request for New ID">Request for New ID</option> 
    
            </select><br><br>

            <div id="formContainer2" style="display: none;">
                <form action="/submit_request" method="POST" enctype="multipart/form-data">
                <label for="department">Department to Send:</label> 
            <select name="department" id="department">
                <option value="" selected disabled>Select the Department:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>

                <label id="provision1" for="remarks" >Remarks:</label>
                <textarea id="remarks" name="remarks" rows="16" cols="20" required ></textarea><br>
            
            
                <label for="section">Year And Section:</label>
                <input type="text" id="section2" name="section2" required><br>
            
                <label for="program">Program:</label>
                <input type="text" id="program" name="program" required><br> 
            
            
                <label for="file5">Attach Supporting Documents (if you have any):</label>
                <input type="file" name="file5" id="file5" accept=".png, .jpg, .jpeg, .pdf, .docx" required>
                <input type="hidden" id = "forms"name="forms" value="Temporary Gate Pass">
                <input id="submit" type="submit" value="Submit">
                </form>
            </div>
            
            <div id="formContainer3" style="display: none;">
                <form action="/submit_request" method="POST" enctype="multipart/form-data">
                    <label for="department">Department to Send:</label> 
            <select name="department" id="department">
                <option value="" selected disabled>Select the Department:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>
                    

                <input type="checkbox" id="fieldwork" name="fieldwork" value="fieldwork">
                <label for="fieldwork"> Classes with fieldwork or workshop.</label><br>
                <input type="checkbox" id="prolonged" name="prolonged" value="prolonged">
                <label for="prolonged"> Classes that require prolonged standing (such as architectural drafting classes).</label><br>
                <input type="checkbox" id="foreign" name="foreign" value="foreign">
                <label for="foreign"> Foreign students who are enrolled only on short special courses.</label><br>
                <input type="checkbox" id="pregnant" name="pregnant" value="pregnant">
                <label for="pregnant"> Students who are pregnant.</label><br>
                <input type="checkbox" id="cases" name="cases" value="cases">
                <label for="cases"> Special cases e.g.: students who are temporarily incapacitated or with permanent physical disability; students who are on special training for sports/cultural events, etc.</label><br>
                <input type="checkbox" id="majeure" name="majeure" value="majeure">
                <label for="majeure">Force majeure (fire, flood, other emergency situation)</label><br>
                <input type="checkbox" id="internship" name="internship" value="internship">
                <label for="internship">Students who are enrolled in Internship Training Program (ITP) or On-the-Job Training (OJT) whose training company or office is not BatStateU itself and enter the campus for various purposes during the training period.</label><br>
                <input type="checkbox" id="specify" name="specify" value="specify">
                <label for="specify">Others, please specify:</label><br><br>
                
                <textarea id="specifyTextarea" name="specifyTextarea" rows="4" cols="50"></textarea>
                
             
                <label for="department">College:</label> 
            <select name="college" id="college">
                <option value="" selected disabled>Select your College:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>
            
                <label for="section">Year And Section:</label>
                <input type="text" id="section2" name="section2" required><br><br>
            
                <label for="program">Program:</label>
                <input type="text" id="program" name="program" required><br><br>
            
                <label for="file3">Attach Your Signature with Printed Name:</label>
                <input type="file" name="file3" id="file3" accept=".png, .jpg, .jpeg" required>
            
                <label for="file6">Attach Supporting Documents (if you have any):</label>
                <input type="file" name="file6" id="file6" accept=".png, .jpg, .jpeg, .pdf, .docx" required>
                <input type="hidden" name="forms" value="Request for Non-Wearing of Uniform">
                <input id="submit" type="submit" value="Submit">
            </form>
            </div>

            <div id="formContainer4" style="display: none;">
                <form action="/submit_request" method="POST" enctype="multipart/form-data">
                    
           
                <hr>
                <input type="checkbox" id="fieldwork" name="fieldwork" value="fieldwork">
                <label for="fieldwork">Shifting</label><br>
                <input type="checkbox" id="prolonged" name="prolonged" value="prolonged">
                <label for="prolonged">Lost I.D.</label><br>
                <input type="checkbox" id="foreign" name="foreign" value="foreign">
                <label for="foreign">Torn/Damaged</label><br>
                <input type="checkbox" id="pregnant" name="pregnant" value="pregnant">
                <label for="pregnant">Updating</label><br>
                <input type="checkbox" id="specify1" name="specify1" value="specify1">
                <label for="specify1">Others, please specify:</label><br><br>
                <textarea id="specifyTextarea1" name="specifyTextarea1" rows="4" cols="50"></textarea>
                <hr>
                <label for="department">Department to Send:</label> 
                <select name="department" id="department">
                    <option value="" selected disabled>Select the Department:</option> 
                    <option value="CAFAD">CAFAD</option> 
                    <option value="CICS">CICS</option> 
                    <option value="CIT">CIT</option> 
                    <option value="COE">COE</option> 
                </select><br><br>
                <label for="department">College:</label> 
                <select name="college" id="college">
                    <option value="" selected disabled>Select your College:</option> 
                    <option value="CAFAD">CAFAD</option> 
                    <option value="CICS">CICS</option> 
                    <option value="CIT">CIT</option> 
                    <option value="COE">COE</option> 
                </select><br><br>
            
                <label for="section">Year Level:</label>
                <input type="text" id="section1" name="section1" required><br><br>
            
                <label for="program">Program:</label>
                <input type="text" id="program" name="program" required>
                <br><br>
            
                <label for="file8">Attach Your Signature with Printed Name:</label>
                <input type="file" name="file8" id="file8" accept=".png, .jpg, .jpeg" required>
            
                <label for="file4">Attach Supporting Documents (if you have any):</label>
                <input type="file" name="file4" id="file4" accept=".png, .jpg, .jpeg, .pdf, .docx"required>
                <input type="hidden" name="forms" value="Request for New ID">
                <input id="submit" type="submit" value="Submit">
            </form>
            </div>
    </div>
</div>

<div id="myModal2" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn2">&times;</span>
        <h3>Tag Sanction</h3>
        <hr>
        <h4>Check Records</h4>
        <form method="POST" action="/search_students" id="searchForm" required>
            <label for="username">Input Username:</label>
            <input type="text" id="username" name="username">
            <input type="submit" value="Search">
        </form>
        <hr>
        <div id="studentInfo">
            <p>Name: <span id="studentName"></span></p>
            <p>Course: <span id="studentCourse"></span></p>
            <p>Sanctions: <span id="studentSanctions"></span></p>

            
            <form action="/submit_sanction" method="POST">

                <label for="forms1">Forms:</label> 
            <select name="forms1" id="forms1" required onchange="toggleInputFields2()"> 
                <option value="" selected disabled>Select Form:</option> 
                <option value="Written Warning">Written Warning</option> 
                <option value="Written Reprimand">Written Reprimand</option> 
                <option value="Letter of Suspension">Letter of Suspension</option> 
    
            </select><br><br>

            <div id="formContainer5" style="display: none;">
                <form action="/submit_request" method="POST" enctype="multipart/form-data">
                <label for="department">Department to Send:</label> 
            <select name="department" id="department">
                <option value="" selected disabled>Select the Department:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>

                <label id="provision1" for="remarks" >Remarks:</label>
                <textarea id="remarks" name="remarks" rows="16" cols="20" required ></textarea><br>
            
            
                <label for="section">Year And Section:</label>
                <input type="text" id="section2" name="section2" required><br>
            
                <label for="program">Program:</label>
                <input type="text" id="program" name="program" required><br> 
        
                </form>
            </div>
            
            <div id="formContainer6" style="display: none;">
                <form action="/submit_request" method="POST" enctype="multipart/form-data">
                    <label for="department">Department to Send:</label> 
            <select name="department" id="department">
                <option value="" selected disabled>Select the Department:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>
                    

                <input type="checkbox" id="fieldwork" name="fieldwork" value="fieldwork">
                <label for="fieldwork"> Classes with fieldwork or workshop.</label><br>
                <input type="checkbox" id="prolonged" name="prolonged" value="prolonged">
                <label for="prolonged"> Classes that require prolonged standing (such as architectural drafting classes).</label><br>
                <input type="checkbox" id="foreign" name="foreign" value="foreign">
                <label for="foreign"> Foreign students who are enrolled only on short special courses.</label><br>
                <input type="checkbox" id="pregnant" name="pregnant" value="pregnant">
                <label for="pregnant"> Students who are pregnant.</label><br>
                <input type="checkbox" id="cases" name="cases" value="cases">
                <label for="cases"> Special cases e.g.: students who are temporarily incapacitated or with permanent physical disability; students who are on special training for sports/cultural events, etc.</label><br>
                <input type="checkbox" id="majeure" name="majeure" value="majeure">
                <label for="majeure">Force majeure (fire, flood, other emergency situation)</label><br>
                <input type="checkbox" id="internship" name="internship" value="internship">
                <label for="internship">Students who are enrolled in Internship Training Program (ITP) or On-the-Job Training (OJT) whose training company or office is not BatStateU itself and enter the campus for various purposes during the training period.</label><br>
                <input type="checkbox" id="specify" name="specify" value="specify">
                <label for="specify">Others, please specify:</label><br><br>
                
                <textarea id="specifyTextarea" name="specifyTextarea" rows="4" cols="50"></textarea>
                
             
                <label for="department">College:</label> 
            <select name="college" id="college">
                <option value="" selected disabled>Select your College:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>
            
                <label for="section">Year And Section:</label>
                <input type="text" id="section2" name="section2" required><br><br>
            
                <label for="program">Program:</label>
                <input type="text" id="program" name="program" required><br><br>
            
                <label for="file3">Attach Your Signature with Printed Name:</label>
                <input type="file" name="file3" id="file3" accept=".png, .jpg, .jpeg" required>
            
                <label for="file6">Attach Supporting Documents (if you have any):</label>
                <input type="file" name="file6" id="file6" accept=".png, .jpg, .jpeg, .pdf, .docx" required>
                <input type="hidden" name="forms" value="Request for Non-Wearing of Uniform">
                <input id="submit" type="submit" value="Submit">
            </form>
            </div>

            <div id="formContainer7" style="display: none;">
                <form action="/submit_request" method="POST" enctype="multipart/form-data">
           
                <hr>
                <input type="checkbox" id="fieldwork" name="fieldwork" value="fieldwork">
                <label for="fieldwork">Shifting</label><br>
                <input type="checkbox" id="prolonged" name="prolonged" value="prolonged">
                <label for="prolonged">Lost I.D.</label><br>
                <input type="checkbox" id="foreign" name="foreign" value="foreign">
                <label for="foreign">Torn/Damaged</label><br>
                <input type="checkbox" id="pregnant" name="pregnant" value="pregnant">
                <label for="pregnant">Updating</label><br>
                <input type="checkbox" id="specify1" name="specify1" value="specify1">
                <label for="specify1">Others, please specify:</label><br><br>
                <textarea id="specifyTextarea1" name="specifyTextarea1" rows="4" cols="50"></textarea>
                <hr>
                <label for="department">Department to Send:</label> 
                <select name="department" id="department">
                    <option value="" selected disabled>Select the Department:</option> 
                    <option value="CAFAD">CAFAD</option> 
                    <option value="CICS">CICS</option> 
                    <option value="CIT">CIT</option> 
                    <option value="COE">COE</option> 
                </select><br><br>
                <label for="department">College:</label> 
                <select name="college" id="college">
                    <option value="" selected disabled>Select your College:</option> 
                    <option value="CAFAD">CAFAD</option> 
                    <option value="CICS">CICS</option> 
                    <option value="CIT">CIT</option> 
                    <option value="COE">COE</option> 
                </select><br><br>
            
                <label for="section">Year Level:</label>
                <input type="text" id="section1" name="section1" required><br><br>
            
                <label for="program">Program:</label>
                <input type="text" id="program" name="program" required>
                <br><br>
            
                <label for="file8">Attach Your Signature with Printed Name:</label>
                <input type="file" name="file8" id="file8" accept=".png, .jpg, .jpeg" required>
            
                <label for="file4">Attach Supporting Documents (if you have any):</label>
                <input type="file" name="file4" id="file4" accept=".png, .jpg, .jpeg, .pdf, .docx"required>
                <input type="hidden" name="forms" value="Request for New ID">
                <input id="submit" type="submit" value="Submit">
            </form>
            </div>

        </form>
        </div>
    
</div>

<div class="flash-messages" id="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

   
</body>
</html>
