<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/static/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
    <script src="path-to-jsNotify/jsnotify.min.js"></script>
    <script>
        // Function to fetch the top offenses and their scores
        function fetchTopOffenses() {
            fetch('/algorithm')
                .then(response => response.json())
                .then(data => {
                    if (data.top_10_offense_scores) {
                        data.top_10_offense_scores.forEach(offense => {
                            // Display each offense and score using jsNotify
                            jsNotify('Offense ID: ' + offense.offense_id + ', Score: ' + offense.score + '%');
                        });
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }
    
        // Example: Trigger the function when a button is clicked
        document.getElementById('fetchTopOffensesButton').addEventListener('click', fetchTopOffenses);
    </script>
    <title>Offense Tags</title>
</head>

<body>

    <div class="topnav">
        <a href="/hello">Dashboard</a>
        {% if user_source == 'accounts_cics' %}
        <a class="active" href="/menu">My Reports</a>
        <a href="/request">My Request</a>
        {% endif %}

        <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
        {% if user_source == 'accounts_coordinators'%}
        <a href="/menu">Reports</a>
        <a href="/request">Requests</a>
        {% endif %}


        {% if user_source == 'accounts_head' %}
        <a href="/menu">Reports</a>
        <a href="/request">Requests</a>
        <a href="/manage_coord">Manage Coordinators</a>
        {% endif %}

        <a class="logout" href="/logout">Logout</a>
        <a class="notif" href="#" id="notifications-bar" >Notifications</a>
    </div>
    {% if user_source == 'accounts_cics' %}
    <h1>My Reports</h1>
    {% endif %}

    {% if user_source == 'accounts_head' or user_source == 'accounts_coordinators' %}
    <h1>Reports</h1>

    <form id="searchFormx">
        <input type="text" id="searchInput" name="searchQuery" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <form method="POST" action="{{ url_for('delete_all_report', report_id=user_course)}}"
                              onsubmit="return confirm('Are you sure you want to delete all this report?');">
                            <button type="submit">Delete All Report</button>
                        </form>
    {% if user_source == 'accounts_head' %}
    <label for="department1">Sort Department:</label> 
    <select name="department1" id="department1">
        <option value="" selected disabled>Select the Department:</option> 
        <option value="CAFAD">CAFAD</option> 
        <option value="CICS">CICS</option> 
        <option value="CIT">CIT</option> 
        <option value="COE">COE</option> 
    </select><br><br>
    {% endif %}

    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Report ID</th>               
                    <th>Complainant's Username</th>
                    <th>Date and Time</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Attached Form</th>
                    <th>Attached Supporting Document</th>
                    <th>Action</th>
                    <th>Change Status</th>
                    <th>Delete Report</th>
                </tr>
            </thead>
            <tbody>
                {% for row in reports|sort(attribute='3', reverse=true) %}
                <!-- Sort the reports list by the third element (date and time) in reverse order (descending) -->
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                        <td>
                            <a href="{{ url_for('preview_report_file', report_id=row[1]) }}" target="_blank">{{ row[8] }}</a>
                        </td>
    
                  
                        <td>
                            <a href="{{ url_for('preview_support_file', report_id=row[1]) }}" target="_blank">{{ row[11] }}</a>
                        </td>
                      
                    
                    
                    <td><button class="view-report-button" onclick="getAlgorithmResult('{{ row[4] }}')">View Report</button></td>
                    <td>
                        <!-- Add a form to change the status -->
                        <form id="statusChangeForm" onsubmit="checkStatus('{{ row[0] }}'); return false; ">
                            <select name="new_status" id="new_status_select_{{ row[0] }}">
                              <option value="On Going">On Going</option>
                              <option value="Rejected">Rejected</option>
                              <option value="Case Closed">Case Closed</option>
                            </select>
                            <button type="submit">Change</button>
                          </form>
                    </td>
                    <td style="justify-content:center">
                        <!-- Add a form to change the status -->
                        <form method="POST" action="{{ url_for('delete_report', report_id=row[1]) }}"
                              onsubmit="return confirm('Are you sure you want to delete this report?');">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<div id="rejectModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeRejectModal()">&times;</span>
        <h1>Notice of Case Disimissal - Reject</h1>
        <form id="noticeform" action="/submit_notice" method="POST" enctype="multipart/form-data">

            <label for="complainant">Name of Complainant:</label><br>
            <input type="text" id="complainant" name="complainant" required><br><br>
    
            <hr>
    
            <label for="student">Name of the Student:</label><br>
            <input type="text" id="student" name="student" required><br><br>
    
            <label for="srcode">SR-Code of the Student:</label><br>
            <input type="text" id="srcode" name="srcode" required><br><br>
    
            <label for="section">Year and Section:</label><br>
            <input type="text" id="section" name="section" required><br><br>
    
            <label for="department">Program:</label> 
            <select name="department" id="department" required>
                <option value="" selected disabled>Select the Department:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>
    
            <hr>
            <h3>Gender</h3>
    
            <input type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label><br>
            
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <hr>
            <h3>Indicate Offense</h3>
            <input type="radio" id="minor" name="offense_type" value="minor" required>
            <label for="minor">Minor Offense</label>
            <input type="text" id="minor_input" name="minor_offense" style="display: none"><br>
    
            <input type="radio" id="major" name="offense_type" value="major">
            <label for="major">Major Offense</label>
            <input type="text" id="major_input" name="major_offense" style="display: none"><br>
            <hr>
            <h3>Reason for Dismissal:</h3>
            <input type="checkbox" id="fieldwork" name="fieldwork" value="fieldwork">
            <label for="fieldwork">The complaint is without merit.</label><br>
            <input type="checkbox" id="prolonged" name="prolonged" value="prolonged" onclick="toggleInput4()">
            <label for="prolonged">Others, please specify:</label><br>
            <input type="text" id="specify2" name="specify2" style="display: none" required><br>
            <input type="hidden" name="status" value="Case Closed">
                
            <button onclick="validateCheckboxes()">Submit</button>
        </form>
    </div>
</div>

<div id="caseModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCaseModal()">&times;</span>
        <h1>Notice of Case Disimissal - Case Closed</h1>
        <form id="noticeform1" action="/submit_notice" method="POST" enctype="multipart/form-data">

            <label for="complainant">Name of Complainant:</label><br>
            <input type="text" id="complainant" name="complainant" required><br><br>
    
            <hr>
    
            <label for="student">Name of the Student:</label><br>
            <input type="text" id="student" name="student" required><br><br>
    
            <label for="srcode">SR-Code of the Student:</label><br>
            <input type="text" id="srcode" name="srcode" required><br><br>
    
            <label for="section">Year and Section:</label><br>
            <input type="text" id="section" name="section" required><br><br>
    
            <label for="department">Program:</label> 
            <select name="department" id="department" required>
                <option value="" selected disabled>Select the Department:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>
    
            <hr>
            <h3>Gender</h3>
    
            <input type="radio" id="male" name="gender" value="male" required>
            <label for="male">Male</label><br>
            
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <hr>
            <h3>Indicate Offense</h3>
            <input type="radio" id="minor" name="offense_type" value="minor" required>
            <label for="minor">Minor Offense</label>
            <select name="department" id="department">
                <option value="" selected disabled>Select the Department:</option> 
                <option value="CAFAD">CAFAD</option> 
                <option value="CICS">CICS</option> 
                <option value="CIT">CIT</option> 
                <option value="COE">COE</option> 
            </select><br><br>
            <input type="text" id="minor_input" name="minor_offense" style="display: none"><br>
    
            <input type="radio" id="major" name="offense_type" value="major">
            <label for="major">Major Offense</label>
            <input type="text" id="major_input" name="major_offense" style="display: none"><br>
            <hr>
            <h3>Reason for Dismissal:</h3>
            <input type="checkbox" id="fieldwork" name="fieldwork" value="fieldwork">
            <label for="fieldwork">The complaint is without merit.</label><br>
            <input type="checkbox" id="prolonged" name="prolonged" value="prolonged" onclick="toggleInput4()">
            <label for="prolonged">Others, please specify:</label><br>
            <input type="text" id="specify2" name="specify2" style="display: none"><br>
            <input type="hidden" name="status" value="Case Closed">
    
            <button onclick="validateCheckboxes()">Submit</button>
        </form>
    </div>
</div>

<div id="notifications-container" class="notifications">
        
</div>

<div class="flash-messages" id="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

    <div id="reports-container">

        {% if user_source == 'accounts_cics' %}
        {% for row in reports|sort(attribute='2', reverse=true) %}
        <div class="report">
            <b>Report ID:</b> {{ row[1] }}<br>
                <div class="report_small">x`
                    <b>Date and Time:</b> {{ row[3] }}<br>
                    <button class="view-report-button" onclick="openModal('{{ row[4] }}')">View Report</button>
                    <b>Department:</b> {{ row[5] }}<br>   
                    <b>Status:</b> {{ row[6] }}<br>
                </div>
        </div>
        <hr class="report-separator">
        {% endfor %}
        {% endif %}
    </div>

 

    <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Are you sure you want to mark this report as "Case Closed"?</p>
    <button id="confirmClose">Yes</button>
    <button class="close-modal">No</button>
  </div>
</div>

<div id="myModal21" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAlgoModal()">&times;</span>
        <div id="reportContent1"></div>
        <h2>Predicted Offenses</h2>
        <ul id="offense-list">


        </ul>
    </div>
</div>


<div id="loading-screen">
    <div class="loading-spinner"></div>
    <div class="loading-text">Loading...</div>
</div>

</body>



</html>
