<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/static/style.css' />
    <script src="/static/script.js"></script>
    <title>Offense Tags</title>
</head>
<body>
    <div class="topnav">
        <a href="/hello">Home</a>
        {% if user_source == 'accounts_cics'%}
        <a href="/menu">My Reports</a>
    {% endif %}

    <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
    {% if user_source == 'accounts_coordinators' %}
    <a href="/menu">Reports</a>
    {% endif %}
        <a href="/forms">Forms</a>
        <a href="#about">Notifications</a>
        <a class="logout" href="/">Logout</a>
    </div>
    {% if user_source == 'accounts_cics'%}
    <h1>My Reports</h1>
    {% endif %}
    {% if user_source == 'accounts_coordinators' %}
    <h1>Reports of {{user_course }}</h1>
    {% endif %}

    <div id="reports-container">
        {% for row in reports %}
        <div class="report">
            <b>Date and Time:</b> {{ row[1] }}<br>
            <button class="view-report-button" onclick="openModal('{{ row[2] }}')">View Report</button>
            <b>Department:</b> {{ row[3] }}<br>   
         
            <b>Status:</b> {{ row[4] }}<br>
         
        </div>
        <hr class="report-separator"> <!-- Add a horizontal line as a separator -->
        {% endfor %}
    </div>

    <!-- The Modal -->
    <div class="modal" id="reportModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="reportContent"></div>
        </div>
    </div>



</body>
</html>
