<html>
<head>
    <link rel="stylesheet" href='/static/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script-request.js"></script>
    <title>Offense Tags</title>
</head>

<body>

    <div class="topnav">
        <a href="/hello">Dashboard</a>
        {% if user_source == 'accounts_cics' %}
        <a href="/menu">My Report</a>
        <a class="active" href="/request">My Request</a>
        {% endif %}

        <!-- Conditionally show the "Tag Sanction" button based on user source (accounts_coordinators) -->
        {% if user_source == 'accounts_coordinators'%}
        <a href="/menu">Reports</a>
        <a href="/request">Requests</a>
        {% endif %}


        {% if user_source == 'accounts_head' %}
        <a href="/menu">Reports</a>
        <a href="/request">Requests</a>
        <a href="/manage_coord">Manage Coordinators</a>
        {% endif %}
        
        <a class="logout" href="/logout">Logout</a>
        <a class="notif" href="#" id="notifications-bar" >Notifications</a>
    </div>
    
    {% if user_source == 'accounts_cics' %}
    <h1>My Requests</h1>
    
    
    
    {% endif %}

    {% if user_source == 'accounts_coordinators' or user_source == 'accounts_head' %}
    <h1>Request</h1>
    <div class="navbar-container">
        
        <div class="navbar1">
            <a class="nav-item" href="#" id="pending-tab" data-target="pending">Pending</a>
            <a class="nav-item" href="#" id="ongoing-tab" data-target="ongoing">Ongoing</a>
            <a class="nav-item" href="#" id="result-tab" data-target="result">Result</a>
            
        </div>
        </div>

   
    <div id="table-container">
        
        <div id="pending">
            <form method="POST" action="{{ url_for('delete_all_report1', report_id=user_course, status="Pending")}}"
        onsubmit="return confirm('Are you sure you want to delete all this report?');">
      <button type="submit">Delete All Report</button> 
  </form>
  {% if reports|selectattr('5', 'equalto', 'Pending')|list %}
        <table>
            <thead>
                <tr>
                    <th>Report ID</th>               
                    <th>SR-CODE</th>
                    <th>Date and Time</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Attached Form</th>
                    <th>Attached Supporting Document</th>
                    <th>Action</th>
                    <th>Change Status</th>
                    <th>Delete Report</th>
                </tr>
            </thead>
            <tbody>
                
    
                {% for row in reports|sort(attribute='2', reverse=true) %}
                
                {% if row[5] == 'Pending' %}
                <!-- Sort the reports list by the third element (date and time) in reverse order (descending) -->
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td><a href="{{ url_for('preview_report_file1', report_id=row[0]) }}" target="_blank">{{ row[7] }}</a></td>
                    <td> <a href="{{ url_for('preview_support_file1', report_id=row[0]) }}" target="_blank">{{ row[10] }}</a></td>
                    <td><button class="view-report-button" onclick="openModal('{{ row[3] }}')">View Report</button></td>
                    <td>
                        <!-- Add a form to change the status -->
                        <form id="statusChangeForm" method="POST" action="{{ url_for('change_report_status1', report_id=row[0]) }}"
                        onsubmit="return confirmStatusChange('{{ row[0] }}')();">
                        <select name="new_status">
                            <option value="Ongoing">Ongoing</option>
            
                        </select>
                        <button type="submit">Change</button>
                    </form>
                    </td>
                    <td>
                        <!-- Add a form to change the status -->
                        <form method="POST" action="{{ url_for('delete_report1', report_id=row[0]) }}"
                              onsubmit="return confirm('Are you sure you want to delete this report?');">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                
            </tbody>
        </table>
        {% else %}
        <p>No pending requests</p>
        {% endif %}
    </div>

    <div id="ongoing">
        <form method="POST" action="{{ url_for('delete_all_report1', report_id=user_course, status="Ongoing")}}"
        onsubmit="return confirm('Are you sure you want to delete all this report?');">
      <button type="submit">Delete All Report</button> 
  </form>
  {% if reports|selectattr('5', 'equalto', 'Ongoing')|list %}
        
        <table>
            <thead>
                <tr>
                    <th>Report ID</th>               
                    <th>SR-CODE</th>
                    <th>Date and Time</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Attached Form</th>
                    <th>Attached Supporting Document</th>
                    <th>Action</th>
                    <th>Change Status</th>
                    <th>Delete Report</th>
                </tr>
            </thead>
            <tbody>
    
                {% for row in reports|sort(attribute='2', reverse=true) %}
                {% if row[5] == 'Ongoing' %}
                <!-- Sort the reports list by the third element (date and time) in reverse order (descending) -->
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td><a href="{{ url_for('preview_report_file1', report_id=row[0]) }}" target="_blank">{{ row[7] }}</a></td>
                    <td><a href="{{ url_for('preview_support_file1', report_id=row[0]) }}" target="_blank">{{ row[10] }}</a></td>
                    <td><button class="view-report-button" onclick="openModal('{{ row[3] }}')">View Report</button></td>
                    <td>
                    
                        <button id="krazyid" class="view-report-button" onclick="openModal1('{{ row[0] }}')">Approved</button>
                      
                       
                        <button id="idkrazy" class="view-report-button" onclick="openModal2('{{ row[0] }}')">Rejected</button>
                       
                 
                    </td>
                    <td>
                        <!-- Add a form to change the status -->
                        <form method="POST" action="{{ url_for('delete_report1', report_id=row[0]) }}"
                              onsubmit="return confirm('Are you sure you want to delete this report?');">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                
            </tbody>
        </table>
        {% else %}
        <p>No ongoing requests</p>
        {% endif %}
    </div>

    <div id="result">
        <form method="POST" action="{{ url_for('delete_all_report1', report_id=user_course, status="Result")}}"
        onsubmit="return confirm('Are you sure you want to delete all this report?');">
      <button type="submit">Delete All Report</button> 
  </form>
  {% if reports|selectattr('5', 'equalto', 'Approved')|list or reports|selectattr('5', 'equalto', 'Rejected')|list %}
        <table>
            <thead>
                <tr>
                    <th>Report ID</th>               
                    <th>SR-CODE</th>
                    <th>Date and Time</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Attached Form</th>
                    <th>Attached Supporting Document</th>
                    <th>Report</th>
                    <th>Delete Report</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                
                {% for row in reports|sort(attribute='2', reverse=true) %}
                {% if row[5] == 'Approved' or row[5] == 'Rejected' %}
                <!-- Sort the reports list by the third element (date and time) in reverse order (descending) -->
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td><a href="{{ url_for('preview_report_file1', report_id=row[0]) }}" target="_blank">{{ row[7] }}</a></td>
                    <td><a href="{{ url_for('preview_support_file1', report_id=row[0]) }}" target="_blank">{{ row[10] }}</a></td>
                    <td><button class="view-report-button" onclick="openModal('{{ row[3] }}')">View Report</button></td>
                    <td>
                        <!-- Add a form to change the status -->
                        <form method="POST" action="{{ url_for('delete_report1', report_id=row[0]) }}"
                              onsubmit="return confirm('Are you sure you want to delete this report?');">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    <td><button class="view-report-button" onclick="openModal5('{{ row[12] }}')">View Remarks</button></td>
                </tr>
                {% endif %}
                {% endfor %}
                
            </tbody>
        </table>
        {% else %}
        <p>No results</p>
        {% endif %}
    </div>
    </div>
{% endif %}

<div id="notifications-container" class="notifications">
        
</div>

<div class="flash-messages" id="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

    
        {% if user_source == 'accounts_cics' %}
        <div class="navbar-container">
        
            <div class="navbar1">
                <a class="nav-item" href="#" id="pending-tab" data-target="pending">Pending</a>
                <a class="nav-item" href="#" id="ongoing-tab" data-target="ongoing">Ongoing</a>
                <a class="nav-item" href="#" id="result-tab" data-target="result">Result</a>
                
            </div>
            </div>
        <div id="reports-container">
            <div id="pending">
            {% for row in reports %}
            {% if row[5] == 'Pending' %}
                <div class="report">
                    <b>Report ID</b> {{ row[0] }}<br>
                    <b>Date and Time:</b> {{ row[2] }}<br>
                    <button class="view-report-button" onclick="openModal1('{{ row[3] }}')">View Report</button>
                    <b>Department:</b> {{ row[4] }}<br>   
                    <b>Status:</b> {{ row[5] }}<br>
                </div>
                <hr class="report-separator">
            {% endif %}
        {% endfor %}
        </div>

        <div id="ongoing" style="display: none;">
            {% for row in reports %}
            {% if row[5] == 'Ongoing' %}
                <div class="report">
                    <b>Report ID</b> {{ row[0] }}<br>
                    <b>Date and Time:</b> {{ row[2] }}<br>
                    <button class="view-report-button" onclick="openModal1('{{ row[3] }}')">View Report</button>
                    <b>Department:</b> {{ row[4] }}<br>   
                    <b>Status:</b> {{ row[5] }}<br>
                </div>
                <hr class="report-separator">
            {% endif %}
        {% endfor %}
        </div>
        <div id="result" style="display: none;">
            {% for row in reports %}.
            {% if row[5] == 'Approved' or row[5] == 'Rejected' %}
                <div class="report">
                    <b>Report ID</b> {{ row[0] }}<br>
                    <b>Date and Time:</b> {{ row[2] }}<br>
                    <button class="view-report-button" onclick="openModal1('{{ row[12] }}')">View Remarks</button>
                    <b>Department:</b> {{ row[4] }}<br>   
                    <b>Status:</b> {{ row[5] }}<br>
                </div>
                <hr class="report-separator">
            {% endif %}
        {% endfor %}
        </div>

        {% endif %}
        

        
    </div>

    <!-- The Modal -->
    <div id="modalContainer9" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal11()">&times;</span>
             <form id="statusChangeForm1" method="POST" action="/submit_approve" enctype="multipart/form-data">
            <label id="provision1" for="remarks" >Message:</label><br>
            <textarea id="remarks" name="remarks" rows="16" cols="100" style="resize: none;" ></textarea>
            <label for="file4">Attach the Modified Document:</label>
            <input type="file" name="file4" id="file4" accept=".pdf"><br><br>
            <button type="submit">Change</button>
            </form>
        </div>
    </div>

    <div class="modal" id="reportModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="reportContent"></div>
        </div>
    </div>

    <div class="modal" id="reportModal5">
        <div class="modal-content">
            <span class="close" onclick="closeModal5()">&times;</span>
            <div id="reportContent5"></div>
        </div>
    </div>

    <div id="modalContainer" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal6()">&times;</span>
            <form id="statusChangeForm2" method="POST" action="/submit_reject">
            <label id="provision1" for="remarks" >Reasons for Rejection:</label>
            <textarea id="remarks" name="remarks" rows="5" cols="50" style="resize: none;" ></textarea><br><br>
           
           
            <button type="submit">Change</button>
          
        </form>
        </div>
        
    </div>
    
</body>
</html>
